{% extends 'bizzapp/base.html' %}

{ % load static % }

{% block content %}
    <h2>Profile</h2>
    <p>Welcome, {{ user.username }}!</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Profile</button>
    </form>

    {% if messages %}
       <div class="messages">
       {% for message in messages %}
       <div class="{{ message.tags }}">
        {{ message }}
       </div>
       {% endfor %}
       </div>
    {% endif %}

{% endblock %}
