<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Shop</title>
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <header>
        <h1>Welcome to my E-commerce Shop</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'products:product_list' %}">Products</a></li>
                <li><a href="{% url 'products:category_list' %}">Categories</a></li>
                <li><a href="{% url 'cart:cart' %}">View Cart</a></li>
                <li><a href="{% url 'orders:order_history' %}">Order History</a></li>
                
                <li><a href="{% url 'profile' %}">Profile</a></li>
                    
                <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                </form>

                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">

                <div class="text-md-left">
                    <h3 class="text-white">Contact Us</h3>
                    <p class="text-white m-0">Email: <a href="mailto:jeanbaron011@gmail.com" class="text-white">jeanbaron011@gmail.com</a></p>
                    <p class="text-white">Phone: +254728428764</p>
                </div>

                <div class="text-center">
                    <h3 class="text-white">Follow Us</h3>
                    <a href="https://facebook.com/jeanbaron" target="_blank" rel="noopener" class="text-white mx-2" aria-label="Follow us on Facebook" ><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/jean_baron_" target="_blank" rel="noopener" class="text-white mx-2"  aria-label="Follow us on x"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com/ogutujean" target="_blank" rel="noopener" class="text-white mx-2"  aria-label="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com/in/jeanogutu" target="_blank" rel="noopener" class="text-white mx-2"  aria-label="Follow us on Linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
                

                <div class="text-md-right">
                    <p class="text-white m-0">Copyright &copy; JEAN APP 2024</p>
                </div>

            </div>
        </div>
    </footer>
    
</body>
</html>