body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11536f;
}

header {
    background-color: #333;
    color: #d5c1c1;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    padding: 0;
    color: #333;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;

}

nav ul li a {
    color: #161414;
    text-decoration: none;
}

main {
    padding: 2rem;
}

h2 {
    color: #1a1717;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #d5c1c1;
    padding: 1rem;

}


.messages {
    margin-top: 20px;
}

.messages div {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    color: green; 
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    background: #454343;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-item img {
    width: 100%; 
    height: 300px;
    border-bottom: 1px solid #ccc; 
    object-fit: cover;

}


.product-item h3 {
    margin: 10px 0;
    color: #c7bfbf;
}

.product-item p {
    margin: 5px 0;
    color: #e0dede;
}

a {
    display: inline-block;
    background-color: #9ba4ae;
    color: rgb(25, 24, 23);
    padding: 3px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

a:hover {
    background-color: #7ca0c8;
}